body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#buttons-container {
    text-align: center;
}

.main-button, .sub-button {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    line-height: 50px;
}

.main-button:hover, .sub-button:hover {
    background-color: #0056b3;
}

#aluno-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aluno-form label, #aluno-form input {
    margin-bottom: 10px;
}

#aluno-form button {
    width: 100px;
    padding: 10px;
    margin: 5px;
}

